@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');


html,body {
    font-family: 'Inter', 'Sans';
    margin: 0 auto;
    padding: 0;
    scroll-behavior: smooth;
}